 .example{
 background:#FFF;
 width:650px;
 font-size:80%;
 border:1px #000 solid;
 margin:20px auto;padding:15px;s
 position:relative;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px} 
 .pbar .ui-progressbar-value s
 {display:block !important} 
 .pbar {overflow: hidden}
  .percent {position:relative;text-align: right;}
   .elapsed {position:relative;text-align: right;}ss